@import "fyndiq-styles-colors/colors.css";

.tooltip {
  background-color: color(black a(70%));
  color: var(--color-white);
  border-radius: 2px;
  width: 160px;
  font-size: 12px;
  text-align: justify;

  &:before {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px;
    border-color: transparent transparent var(--color-black) transparent;
  }

  &:empty {
    display: none;
  }
}

.position-b:before {
  top: -4px;
  border-width: 0 4px 4px;
  border-color: transparent transparent var(--color-black) transparent;
}

.position-t:before {
  bottom: -4px;
  border-width: 4px 4px 0;
  border-color: var(--color-black) transparent transparent;
}

.position-bl {
  composes: position-b;

  &:before {
    left: 10px;
  }
}

.position-bc {
  composes: position-b;

  &:before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.position-br {
  composes: position-b;

  &:before {
    right: 10px;
  }
}

.position-tl {
  composes: position-t;

  &:before {
    left: 10px;
  }
}

.position-tc {
  composes: position-t;

  &:before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.position-tr {
  composes: position-t;

  &:before {
    right: 10px;
  }
}

.helperWrapper {
  display: inline-block;
  padding: 8px 10px;
}
