:root {
  /* Brand color */
  --color-brand: #EC514A;

  /* Grey levels */
  --color-black: #3B4257;
  --color-darkgrey: #666;
  --color-lightgrey: #7E7E7E;
  --color-lightergrey: #BBB;
  --color-palegrey: #FAFAFC;
  --color-white: #FFF;

  /* Theme colors */
  --color-red: #E74A51;
  --color-blue: #4A90E2;
  --color-green: #37B578;
  --color-yellow: #FFD600;
  --color-yellow-deal: #FE0;
  --color-orange: #F08C48;

  /* Component colors */
  --color-border: #CCD1DD;
}
