@import "fyndiq-styles-colors/colors.css";

.price {
  display: inline-block;
  white-space: nowrap;
  line-height: 1.2;
}

.currentPrice {
  color: var(--color-red);
  font-weight: bold;
}

.oldPrice {
  color: var(--color-lightgrey);
  text-decoration: line-through;
  font-weight: 300;
}

.emphasize {
  & .currentPrice {
    font-size: 18px;
  }

  & .oldPrice {
    font-size: 11px;
  }
}

.fixedHeight {
  & .currentPrice {
    height: 1.2em;
  }

  & .oldPrice {
    height: 1.2em;
  }
}
