@import "fyndiq-styles-colors/colors.css";

.wrapper {
  flex: 1;
}

.wrapperVertical {
  display: flex;
  flex-direction: row-reverse;
}

.imgBigContainer {
  display: flex;
  flex: 1;
}

.buttonArrow {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0 16px;
  outline: 0;

  & svg {
    max-width: 1.5em;
    max-height: 1.5em;
  }
}

.imgBigDummy {
  margin-top: 100%;
}

.imgBigWrapper {
  position: relative;
  flex: 1;
}

.imgBig {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
}

.buttonImg {
  position: relative;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  border: none;
  padding: 12px;
  background: transparent;
  border-radius: 4px;
  height: 108px;
  width: 108px;
  margin-right: 10px;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .2s;
}

.buttonImgActive {
  box-shadow: 0 4px 15px 0 color(var(--color-black) a(13%));
}

.additionnalImages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: color(var(--color-black) a(60%));
  color: white;
}

.imgSmall {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.smallImgWrapper {
  display: flex;
  padding: 8px 0;
}

.wrapperVertical .smallImgWrapper {
  flex-direction: column;
}
