@import "fyndiq-styles-colors/colors.css";

.description {
  margin: 0;
  font-weight: 300;
}

.tagsWrapper {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 5px 5px 0;
  font-size: 12px;
  border-radius: 2px;
  color: var(--color-white);
  background-color: var(--color-tags);
  white-space: nowrap;
}
