@import "fyndiq-styles-colors/colors.css";

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.row {
  display: table-row;

  &:not(.rowNoBorder) {
    border-bottom: 1px solid var(--color-border);
  }
}

.rowSize-l .cell {
  padding-top: 32px;
  padding-bottom: 32px;
}

.rowSize-m .cell {
  padding-top: 24px;
  padding-bottom: 24px;
}

.rowSize-s .cell {
  padding-top: 16px;
  padding-bottom: 16px;
}

.rowHead {
  font-weight: 900;
  font-size: 13px;
  color: var(--color-border);

  & .cell {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.rowInteractive {
  cursor: pointer;

  &:hover {
    background: var(--color-palegrey);
  }
}

.rowVerticalCenter .cell {
  vertical-align: middle;
}

.cell {
  display: table-cell;
  padding: 0 8px;
}

.cellCenter {
  text-align: center;
}
