@import "~fyndiq-styles-colors/colors.less";

.alert {
  padding: 10px;
}

.hidden {
  display: none;
}

.close {
  display: inline-block;
  float: right;
  font-family: monospace;
  line-height: 1.2em;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
}

.type-good {
  background-color: lighten(@green, 40%);
}

.type-warning {
  background-color: lighten(@orange, 34%);
}

.type-bad {
  background-color: lighten(@red, 35%);
}

.type-info {
  background-color: lighten(@blue, 35%);
}
