@import "fyndiq-styles-colors/colors.css";

.checkbox {
  display: inline-block;
  border: 0;
  background: transparent;
  font-family: inherit;
  color: var(--color-border);
  text-decoration: none;
  padding: 4px 10px;
  font-size: 12px;
}

.interactiveCheckbox {
  color: var(--color-darkgrey);
  cursor: pointer;

  &:hover {
    background-color: var(--color-palegrey);
  }
}

.checkmark {
  display: inline-block;
  width: 14px;
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
}

.children {
  display: inline-block;
  vertical-align: middle;
}
