.icon {
  border-radius: 100%;
}

@keyframes wave {
  from {
    transform: translate(0, 150px);
  }

  49% {
    transform: translate(-200px, 0);
  }

  50% {
    transform: translate(0);
  }

  to {
    transform: translate(-200px, -150px);
  }
}

.wave {
  animation-name: wave;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
