@import "fyndiq-styles-colors/colors.css";

.stars {
  display: inline-block;
  vertical-align: middle;

  & svg {
    height: 1em;
    width: 1em;
  }
}

.interactive {
  cursor: pointer;
}

.size-m {
  font-size: 1em;
}

.size-l {
  font-size: 3em;
}

.reviews {
  display: inline-block;
  vertical-align: middle;
  color: var(--color-lightgrey);
  font-size: .9em;
}
