@import "fyndiq-styles-colors/colors.css";

.button {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: var(--color-palegrey);
  color: var(--color-black);
  font-family: inherit;
  text-decoration: none;
}

.button:focus {
  outline: 0;
}

.button:enabled {
  cursor: pointer;
}

.pressed {
  box-shadow: 0 1px 6px 2px color(var(--color-black) a(20%)) inset;
}

.type-normal {
  background-color: var(--color-palegrey);
  border-color: var(--color-border);

  &.interactive:hover,
  &.interactive:focus {
    background-color: color(var(--color-palegrey) tint(50%));
  }
}

/* Color themes */
.type-primary,
.type-green {
  background-color: var(--color-green);
  color: var(--color-white);

  &.interactive:hover,
  &.interactive:focus {
    background-color: color(var(--color-green) tint(15%));
  }
}

.type-secondary,
.type-blue {
  background-color: var(--color-white);
  color: var(--color-blue);
  border-color: var(--color-border);

  &.interactive:hover,
  &.interactive:focus {
    background-color: var(--color-palegrey);
  }
}

.type-third,
.type-white {
  background-color: var(--color-white);
  border-color: var(--color-border);

  &.interactive:hover,
  &.interactive:focus {
    background-color: var(--color-palegrey);
  }
}

.type-cancel,
.type-red {
  background-color: var(--color-red);
  color: var(--color-white);

  &.interactive:hover,
  &.interactive:focus {
    background-color: color(var(--color-red) tint(15%));
  }
}

.type-inverted,
.type-black {
  background-color: var(--color-black);
  color: var(--color-white);

  &.interactive:hover,
  &.interactive:focus {
    background-color: color(var(--color-black) tint(15%));
  }
}

.type-ghost,
.type-transparent {
  background-color: transparent;
  color: inherit;
}

/* Sizes */

.size-xs {
  font-size: 10px;
  padding: 2px 4px;
}

.size-s {
  font-size: 12px;
  padding: 3px 7px;
}

.size-m {
  font-size: 14px;
  padding: 7px 14px;
}

.size-l {
  font-size: 15px;
  padding: 15px 26px;
}

/* Special margins */

.horizontal {
  margin-right: 5px;
}

.disabled {
  background-color: var(--color-border);
}

.interactive {
  cursor: pointer;
}

.pill {
  border-radius: 100px;
}

/* Wrapper-specific styles */

.wrapper {
  display: flex;
}

.wrapper--orientation_horizontal {
  flex-direction: row;

  /* Remove borders and fix border-radiuses */
  & .button + .button {
    border-left: none;
  }

  & :first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & :not(:first-child, :last-child) {
    border-radius: 0;
  }

  & :last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.wrapper--orientation_vertical {
  flex-direction: column;

  /* Remove borders and fix border-radiuses */
  & .button + .button {
    border-top: none;
  }

  & :first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  & :not(:first-child, :last-child) {
    border-radius: 0;
  }

  & :last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
