@import "fyndiq-styles-colors/colors.css";

.input {
  padding: 12px 20px;
  background: var(--color-white);
  margin: 0;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  font-size: 15px;
  box-shadow: 0 0 5px 0 color(var(--color-black) a(10%));
  outline: 0;
  appearance: none;
  resize: vertical;

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: var(--color-blue);
  }

  &::placeholder {
    color: var(--color-border);
    opacity: 1;
  }
}

.disabled {
  color: var(--color-border);
  background: color(var(--color-border) a(8%));
  border-color: color(var(--color-border) a(25%));
}

.presetWrapper {
  display: flex;

  & .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .presetDropdownButton {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.presetButton {
  text-align: left;
}

.presetArrow {
  height: 14px;
  vertical-align: middle;
}

/* Invisible input */

.invisibleWrapper {
  display: inline-flex;
}

.invisibleInput {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  color: inherit;
  border: 1px solid transparent;
  background: transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0 7px;
  transition: border-color .2s, background-color .2s;
  outline: 0;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:focus::placeholder {
    color: var(--color-border);
  }
}

.invisibleInputEmpty {
  font-style: italic;
}

.invisibleSubmit {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  margin: 0;
  border: 1px solid transparent;
  border-left: none;
  background: transparent;
  border-radius: 0 2px 2px 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity .2s;

  &:hover {
    background-color: var(--color-palegrey);
  }
}

/* Uncomment the line below to show the input on hover */

/* .form:hover .input, */
.invisibleWrapperDirty .invisibleInput,
.invisibleWrapper .invisibleInput:focus {
  border-color: var(--color-border);
  background: var(--color-white);

  & + .invisibleSubmit {
    opacity: 1;
    border-color: var(--color-border);
  }
}

.invisibleWrapper:hover .invisibleInput:not(:focus) {
  background-color: var(--color-palegrey);
}

.invisibleWrapper .invisiblePencil {
  height: 1em;
  width: 1em;
}
