@import "fyndiq-styles-colors/colors.css";

.input {
  padding: 0 20px;
  background: var(--color-white);
  margin: 0;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  font-size: 15px;
  line-height: 48px;
  outline: 0;
  appearance: none;

  &:invalid {
    box-shadow: none;
  }

  &::placeholder {
    color: var(--color-border);
    opacity: 1;
  }
}

.presetWrapper {
  display: flex;

  & .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .presetDropdownButton {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.presetButton {
  text-align: left;
}

.presetArrow {
  height: 14px;
  vertical-align: middle;
}

/* Invisible input */

.invisibleWrapper {
  display: inline-flex;
}

.invisibleInput {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  color: inherit;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 2px 7px;
  transition: border-color .2s;
  outline: 0;
}

.invisibleSubmit {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  margin: 0;
  border: 1px solid transparent;
  border-left: none;
  background: transparent;
  border-radius: 0 2px 2px 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity .2s;

  &:hover {
    background-color: var(--color-palegrey);
  }
}

/* Uncomment the line below to show the input on hover */

/* .form:hover .input, */
.invisibleWrapperDirty .invisibleInput,
.invisibleWrapper .invisibleInput:focus {
  border-color: var(--color-border);

  & + .invisibleSubmit {
    opacity: 1;
    border-color: var(--color-border);
  }
}

.invisibleWrapper:hover .invisibleInput:not(:focus) {
  background-color: var(--color-palegrey);
}

.invisiblePencil {
  height: 16px;
  width: 16px;
}
